/* style.css */

window {
    background-color: #171719; 
}

button {
    background-color: #eb4242;
    color: rgb(147, 227, 199); 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
}

button.search-button {
    background-color: #9dd774;
    color: black; 
}

label {
    color: #FFFFFF;
}

.h-box {
    background-color: #212124; 
}

.image-box {
    background-image: url("../../assets/backg.jpg");
    background-size: cover; 
    background-position: center;
}

.grid-view {
    background-color: #171719; 
}
