/* style.css */

window {
    background-color: #171719; 
}

button {
    color: rgb(217, 119, 6); 
    border-color: #8307e8;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    
}


label {
    color: #cac7c7;
}


.h-box {
    background-color: #212124; 
}

.performer_label {
    text-align: left;
    font-size: 15px;
    color: #b20909;
    padding: 5px;
}

.image-box {
    background-image: url("../../assets/backg.jpg");
    background-size: cover; 
    background-position: center;
}

.grid-view {
    background-color: #171719; 
}
